
@use "sass:math";
.clouds-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;
  overflow: hidden;
}

$cloud-count: 8;

.cloud {
  position: absolute;
  width: 200px;
  height: 60px;
  background: #fff;
  border-radius: 200px;
  opacity: 0.8;
  
  
  &::after, &::before {
    content: '';
    position: absolute;
    background: inherit;
    border-radius: 50%;
  }

  &::after {
    width: 80px;
    height: 80px;
    top: -40px;
    left: 30px;
  }

  &::before {
    width: 100px;
    height: 100px;
    top: -50px;
    left: 80px;
  }

  
  @for $i from 1 through $cloud-count {
    &:nth-child(#{$i}) {
      
      top: math.random(60) * 1vh; 
      
      
      transform: scale(math.random(10) * 0.1 + 0.5); 
      
      
      opacity: math.random(5) * 0.1 + 0.3;

      
      animation: floatClouds (math.random(40) + 20s) linear infinite;
      
      
      animation-delay: math.random(60) * -1s;
    }
  }
}

@keyframes floatClouds {
  from {
    left: -300px;
  }
  to {
    left: 110vw;
  }
}